*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  color: #1f1f1f;
  line-height: 1.4;
  font-family: "Segoe UI", Arial, sans-serif;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #678c89;
}
.todo-item {
  list-style-type: none;
  padding: 10px 15px;
  border-top: 1px solid #678c89;
}

.todo-item input {
  margin-right: 15px;
}

.btn-style {
  background: #d35e0f;
  color: #fff;
  border: 1px solid #d35e0f;
  padding: 3px 7px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
  outline: none;
}


/* Add todo */

.form-container {
  display: flex;
  width: 100%;
}
.input-text {
  flex: 8;
  font-size: 14px;
  padding: 6px 15px;
  background: rgba(103, 140, 137, 0.65);
  border: none;
  color: #fff;
  outline: none;
  font-weight: 400;
  width: 80%;
}
.input-text::placeholder {
  color: #fff;
  opacity: 0.8;
}
.input-submit {
  flex: 2;
  border: none;
  background: #678c89;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  width: 20%;
  outline: none;
}